.register-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/seafloor.png');
  background-size: cover;
}

.register-content {
  max-width: 400px; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-content h2 {
  margin-top: 20px;
  margin-bottom: 20px; 
  text-align: center; /* Center the text */
}

.popup-link {
  color: #FF69B4;
  text-decoration: none;
  align-self: center;
  word-wrap: break-word; 
  max-width: 90%; 
  display: block; 
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 5px solid #FF69B4;
  border-radius: 10px;
  background-color: #FDF5E6;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-width: 60%; 
}

  